.container{
    position: relative;
    margin: auto;
    width: 95%;
    padding: 10px;
    background: #292929;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.theTop{
    position: absolute;
}

/* .index{
    position: absolute;
} */

.butbut{
    padding: 5px 15px;
    background: #FF6B00;
    border-radius: 5px;
    transition: 0.5s;
}

.butbut:hover{
    color: #FF6B00;
    background: white;
}

.container:hover{
    background: #3b3b3b;
}

.first_part{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 78%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login{
    color: white;
}

.pic{
    width: 50%;
    display: flex;
    align-items: center;
    /* font-size: 1.5rem;
    color: #7E7E7E; */
    gap: 5px;
}

.second_part{
    margin-right: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #FF6B00;
}

.pic_user{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-user-drag: none;
    user-drag: none;
}

@media (max-width: 500px){
    .first_part   {
        width: 65%;
    }
}