.container{
    position: relative;
    margin: auto;
    width: 95%;
    padding: 10px;
    /* height: 90px; */
    background: #292929;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.first_part{
    height: 100%;
    width: 50%;

}

.pic{
    margin-left: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    color: #7E7E7E;
}

.pic_user{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}